body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(29, 119, 155);
    color: white;
    padding: .1rem;
    text-align: center;
    height: 2.5cm;
}

header h1 {
    font-size: 1em; /* You can adjust the font size as needed */
    height: 2mm;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: .5em
}

main {
    padding: 20px;
}

.teams, .fixtures {
    margin-bottom: 30px;
}

footer {
    background-color: rgb(29, 119, 155);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Additional styles for teams page */
.teams {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

/* Additional styles for fixtures page */
.fixtures {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.fixtures ul {
    list-style: none;
    padding: 0;
}

.fixtures li {
    margin-bottom: 10px;
}

/* Additional styles for points page */
.points {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto; /* Add horizontal scrollbar if needed */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 2px;
    text-align: center;
    border: 1px solid rgba(19, 16, 16, 0.914);
}

th {
    background-color: #f2f2f2e7;
}

/* Style the header cells differently if needed */
/* th:nth-child(1) { background-color: #ccc; } */


@media (max-width: 768px) {
    header {
        font-size: 1.5em; /* Adjust header font size for smaller screens */
    }

    table {
        font-size: 0.8em; /* Adjust table font size for smaller screens */
    }
}