body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(29, 119, 155);
    color: white;
    padding: .1rem;
    text-align: center;
}

.header2 {
    background-color: rgb(29, 119, 155);
    color: white;
    padding: .1rem;
    text-align: center;
    width: 100%;
    position: fixed;
    transition: top 0.6s;
}

header h1 {
    font-size: 1em; 
}

nav ul {
    list-style: none;
    font-size: .90em; 
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: .5em
}

main {
    padding: 20px;
}

.mainpadding {
    padding: 3px;
}

.teams, .fixtures {
    margin-bottom: 30px;
}

footer {
    background-color: rgb(29, 119, 155);
    color: white;
    text-align: center;
    padding: .75rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.disclaimer {
    color: #a2b9a2;
}

/* Additional styles for teams page */
.teams {
    background-color: #fcf7f7;
    padding: 10px;
    border-radius: 40px;
}

/* Additional styles for pointss page */
.pointss {
    background-color: #d2edee;
    padding: 15px;
    border-radius: 40px;
    margin-bottom: 20px;
}

/* Additional styles for pointss2 page */
.pointss2 {
    background-color: #65939322;
    padding: 15px;
    border-radius: 40px;
    margin-bottom: 20px;
}




/* Additional styles for fixtures page */
.fixtures th[colspan] {
    background-color: #84c7db;
    padding: 10px;
    border-radius: 0px;
}

.fixtures ul {
    list-style: none;
    padding: 0;
}

.fixtures li {
    margin-bottom: 10px;
}

.fixtures h2 {
    text-align: center;
    background-color: #55b3ce;
    border-radius: 40px;
}

.fixtures table {
    text-align: center;
    background-color: #eef8fb;
}

.fixtures tr {
    text-align: center;
    background-color: #cbebf3;
}

/* Use class when on current week on the fixture.html file */
.current h2 {
    text-align: center;
    background-color: #1dc211;
    border-radius: 40px;
}

.currenttable th {
    text-align: center;
    background-color: #49d83e;
}

.currenttable tr {
    text-align: center;
    background-color: rgb(193, 235, 189);
}

/* Use class when on week is completed on the fixture.html file */
.done h2 {
    text-align: center;
    background-color: #e32323;
    border-radius: 40px;
}

.donetable th {
    text-align: center;
    background-color: #e55040;
}

.donetable tr {
    text-align: center;
    background-color: #d5cdcd;
}




/* Additional styles for points page */
.points {
    background-color: #fcf7f7;
    padding: 20px;
    border-radius: 40px;
    overflow-x: auto; /* Add horizontal scrollbar if needed */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 2px;
    text-align: center;
    border: 1.3px solid rgba(19, 16, 16, 0.914);
}

th {
    background-color: #f2f2f2e7;
}

/* Style the header cells differently if needed */
/* th:nth-child(1) { background-color: #ccc; } */


@media (max-width: 768px) {
    header {
        font-size: 1.5em; /* Adjust header font size for smaller screens */
    }

    select {
        font-size: 1.5em; /* Adjust header font size for smaller screens */
    }

    table {
        font-size: 0.75em; /* Adjust table font size for smaller screens */
    }
}

iframe {
    max-width: 100%;
}

/* Custom styles for the dropdown */
select {
    
    border: none;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(29, 119, 155);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: .5em
}

/* Style for the options */
select option {
    background-color: rgb(29, 119, 155); /* Set background color for options */
    color: #333; /* Set text color for options */
}

/* Style for the selected option */
select option:checked {
    background-color: rgb(29, 119, 155); /* Set background color for the selected option */
}

img {
    max-width: 100%;
    height: auto; /* This ensures the image maintains its aspect ratio */
}

.archive_div {
    background-color: rgb(226, 236, 246);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 5px;
}

.archive_ol {
    font-size: .9em
}